#account-page.account-page
  .account-page__inner
    .account-page__inner2
      %h2 登録しているユーザーでログイン
      -# = render "devise/shared/links"
    .account-page__inner3
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          .field-label
            = f.label :email
          .field-input
            = f.email_field :email, autofocus: true
          .field
            .field-label
              = f.label :password
              %i (英数字6文字以上)
            .field-input
              = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "ログイン", class: 'btn-login'
          .easyLogin
            採用担当者の方はこちらからお入りください
            = link_to 'かんたんログイン', users_guest_sign_in_path, method: :post, class:"btn btn-lg btn-success center-block"