%h2
  カロリー・PFC目安登録

= form_for @standard do |f|
  = render "devise/shared/error_messages", resource: @standard
  .field
    = f.label :"体重"
    = f.number_field :weight
    %a kg
    
  .field
    = f.label :"体脂肪率"
    = f.number_field :bodyFatPercentage
    %a %

  .field
    = f.label :"除脂肪体重"
    = f.number_field :leanBodyMass
    %a kg

  .field
    = f.label :"１日のカロリー目安"
    = f.number_field :calorie
    %a kcal

  .field
    = f.label :"１日のタンパク質目安"
    = f.number_field :protein
    %a g

  .field
    = f.label :"１日の脂質目安"
    = f.number_field :fat
    %a g

  .field
    = f.label :"１日の炭水化物目安"
    = f.number_field :carbo
    %a g

  .actions
    = f.submit "新規登録"

  -# = render "devise/shared/links"