.standard-setting
  .standard-setting-wrapper
    .standard-setting-content
      %h2
        カロリー・PFC目安登録
      = form_for @standard do |f|
        = render "devise/shared/error_messages", resource: @standard
        
        .left
          %p
            体重を入力してください。
            .field
              = f.label :"体重"
              = f.number_field :weight, step: '0.1'
              %a kg
          %p
            体脂肪率を入力してください。
            .field
              = f.label :"体脂肪率"
              = f.number_field :bodyFatPercentage, step: '0.1'
              %a %
              
        .right
          %p
            あなたの除脂肪体重は
            .field
              = f.label :"除脂肪体重"
              = f.number_field :leanBodyMass, step: '0.1'
              %a kgです。

          %p
            あなたの１日のカロリー目安は
            .field
              = f.label :"カロリー"
              = f.number_field :calorie, step: '0.1'
              %a gです。

          %p
            あなたの１日のタンパク質目安は
            .field
              = f.label :"タンパク質"
              = f.number_field :protein, step: '0.1'
              %a gです。

          %p
            あなたの１日の脂質目安は
            .field
              = f.label :"脂質"
              = f.number_field :fat, step: '0.1'
              %a gです。

          %p
            あなたの１日の炭水化物目安は
            .field
              = f.label :"炭水化物"
              = f.number_field :carbo, step: '0.1'
              %a gです。

        .actions
          = f.submit "新規登録"

        -# = render "devise/shared/links"