%h2
  カロリー・PFC目安登録

= form_for @standard do |f|
  = render "devise/shared/error_messages", resource: @standard
  %p
    体重を入力してください。
    .field
      = f.label :"体重"
      = f.number_field :weight 
      %a kg
  %p
    体脂肪率を入力してください。
    .field
      = f.label :"体脂肪率"
      = f.number_field :bodyFatPercentage
      %a %

  %p
    あなたの除脂肪体重は
    .field
      = f.label :"除脂肪体重"
      = f.number_field :leanBodyMass
    -# %a#leanBodyMass
    kgです。

  %p
    あなたの１日のカロリー目安は
    %a#calorie
    kcalです。
  %p
    あなたの１日のタンパク質目安は
    %a#protein 
    gです。
  %p
    あなたの１日の脂質目安は
    %a#fat
    gです。
  %p
    あなたの１日の炭水化物目安は
    %a#carbo 
    gです。

  .actions
    = f.submit "新規登録"

  -# = render "devise/shared/links"