.users-show
  = render 'follow_form'
  = render 'stats'
.myposts-index
  %table
    %thead
      %tr
        %th.date date
        %th.food Food
        %th.calorie Calorie
        %th.protein P タンパク質
        %th.fat F 脂質
        %th.carbo C 炭水化物
    %tbody.table-body.table-line
    - @posts.each do |post|
      %tr
        %td
          = post.created_at
        %td
          = post.food
        %td
          = post.calorie
        %td
          = post.protein
        %td  
          = post.fat
        %td 
          = post.carbo

.backtohome
  = link_to '一覧画面に戻る', root_path

-# <%= グラフの種類 モデル名.group(:カラム名).count %>
-# <%= pie_chart Yogurt.group(:flavor).count %>
-# <%= line_chart User.group_by_day(:created_at).count %>

-# = line_chart Post.group(:calorie).count
-# = pie_chart Post.group(:protein, :fat, :carbo).count
-# = line_chart User.group_by_day(:created_at).count