- if user_signed_in?
  - if @user.followings.present?
    - @user.followings.each do |user|
      .following-list 
        = @user.name
        さんのフォローしている人一覧
        %table.following-list-table
          %tr
            %td
              %li
                = link_to root_path(@user), class: 'followings-name' do
                  = user.name
  - else
    .following-list 
      フォローしている人はいません
- else
  - if @sampleuser.followings.present?
    - @sampleuser.followings.each do |user|
      .following-list  
        = @sampleuser.name
        さんのフォローしている人一覧
        %table.following-list-table
          %tr
            %td
              %li
                = link_to root_path(@sampleuser), class: 'followings-name' do
                  = user.name
  - else
    .following-list 
      フォローしている人はいません