.main
  .section
    .new-post
      = form_with model: @post, id: 'new_post' do |f|
        .input-box
          %table
            %thead
              %tr
                %th.food Food
                %th.calorie Calorie
                %th.protein P タンパク質
                %th.fat F 脂質
                %th.carbo C 炭水化物
            %tbody.table-body
              %tr
                %td 
                  = f.text_field :food, placeholder: '例）サラダ'
                %td 
                  = f.number_field :calorie, placeholder: '例）200'
                %td 
                  = f.number_field :protein, placeholder: '例）30'
                %td 
                  = f.number_field :fat, placeholder: '例）20'
                %td 
                  = f.number_field :carbo, placeholder: '例）50'
                %td.icon-plus
                  %i.fa.fa-plus-circle.fa-2x{class: 'plus-button'}
                %td.icon-minus
                  %i.fa.fa-minus-circle.fa-2x{class: 'minus-button'}
          .text
            = f.text_area :text, placeholder: 'なにたべた？'
          .icon
            .image-upload
              = f.fields_for :images do |image| 
                %i.fa.fa-camera.fa-2x
                = image.file_field :image, multiple: true, class: 'image_upload'
                -# = image.hidden_field :id, value: image.object.id
            .btn-square
              = f.submit '投稿する', class: 'post-btn'
    .posts
      = render @posts
      = paginate(@posts)
    #page_top
      = link_to '', '#'