.main
  .section
    .calorie_chart
    - if user_signed_in?
      .calorie_graph
        %canvas(id="myChart2" width="700" height="100")
        :javascript
          var ctx = document.getElementById('myChart2').getContext('2d');
          var myChart = new Chart(ctx, {
              type: 'horizontalBar',
              data: {
                  labels: ['１日のカロリー目安：' + gon.standard, '今日のカロリー合計：' + gon.today_sum],
                  datasets: [{
                      label: '今日のカロリーを確認',
                      data: [gon.standard, gon.today_sum],
                      backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                      ],
                      borderColor: [
                          'rgba(255,99,132,1)',
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                  }]
              },
              options: {
                  scales: {
                      xAxes: [{
                          ticks: {
                              beginAtZero:true,
                              suggestedMin: 50,
                              suggestedMax: 100
                          }
                      }]
                  }
              }
          });
      .today_calorie
        %p 
        -# - if @calorie_standard >= @calorie_sum
        -#   今日はあと
        -#   = link_to charts_path(current_user.id), class: 'difference' do
        -#     = @difference
        -#   カロリーです
        -# - else 
        -#   = link_to charts_path(current_user.id), class: 'difference' do
        -#     = @difference
        -#   オーバーしています
      %hr
    .new-post
      = form_with model: @post, id: 'new_post' do |f|
        .input-box
          %table
            %thead
              %tr
                %th.food Food
                %th.calorie Calorie
                %th.protein P タンパク質
                %th.fat F 脂質
                %th.carbo C 炭水化物
            %tbody.table-body.table-line
              %tr
                %td 
                  = f.text_field :food, placeholder: '例）サラダ'
                %td 
                  = f.number_field :calorie, step: '0.1', placeholder: '例）200'
                %td 
                  = f.number_field :protein, step: '0.1', placeholder: '例）30'
                %td 
                  = f.number_field :fat, step: '0.1', placeholder: '例）20'
                %td 
                  = f.number_field :carbo, step: '0.1', placeholder: '例）50'
                %td.icon-plus
                  %i.fa.fa-plus-circle.fa-2x{class: 'plus-button'}
                %td.icon-minus
                  %i.fa.fa-minus-circle.fa-2x{class: 'minus-button'}
          .text
            = f.text_area :text, placeholder: 'なにたべた？'
          .icon
            .image-upload
              %i.fa.fa-camera.fa-2x
              = f.file_field :image, class: 'image_upload'
            .btn-square
              = f.submit '投稿する', class: 'post-btn'
          .weight
            体重
            = f.number_field :weight, step: '0.1', placeholder: '例）70'
            kg
    .posts
      = render @posts
      = paginate(@posts)

      
    #page_top
      = link_to '', '#'