.main
  .section
    .new-post
      = form_with model: @post, id: 'new_post' do |f|
        = f.fields_for :images do |i|
          = i.file_field :image
        .input-box
          %table
            %thead
              %tr
                %th Food
                %th Calorie
                %th P タンパク質
                %th F 脂質
                %th C 炭水化物
            %tbody
              %tr
                %td 
                  = f.text_field :food, placeholder: '例）サラダチキン'
                %td 
                  = f.number_field :calorie, placeholder: '例）200'
                %td 
                  = f.number_field :protein, placeholder: '例）30'
                %td 
                  = f.number_field :fat, placeholder: '例）20'
                %td 
                  = f.number_field :carbo, placeholder: '例）50'              
          .text
            = f.text_area :text, placeholder: 'なにたべた？'
          .icon
            .image-upload
              -# %p 5枚までアップロードできます
              %label{class: "input-box__image"}
                = fa_icon 'file-image-o'
                = f.file_field :image
                -# %input{type: "file"}
            .btn-square
              = f.submit '投稿する', class: 'post-btn'
    .posts
      = render @posts
      = paginate(@posts)
    #page_top
      = link_to '', '#'