.main
  .section
    .today_calorie
      %p 
        1日のカロリー目安：
        = @standard.calorie
      %p 
        今日のカロリー合計：
        = @calorie
    .chart
      %canvas(id="myChart" width="600" height="100")
      :javascript
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["赤", "青", "黄", "緑", "紫", "橙"],
                datasets: [{
                    label: '得票数',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    -# %script(type="text/javascript" src="javascripts/calorie.js")
    .new-post
      = form_with model: @post, id: 'new_post' do |f|
        .input-box
          %table
            %thead
              %tr
                %th.food Food
                %th.calorie Calorie
                %th.protein P タンパク質
                %th.fat F 脂質
                %th.carbo C 炭水化物
            %tbody.table-body
              %tr
                %td 
                  = f.text_field :food, placeholder: '例）サラダ'
                %td 
                  = f.number_field :calorie, placeholder: '例）200'
                %td 
                  = f.number_field :protein, placeholder: '例）30'
                %td 
                  = f.number_field :fat, placeholder: '例）20'
                %td 
                  = f.number_field :carbo, placeholder: '例）50'
                %td.icon-plus
                  %i.fa.fa-plus-circle.fa-2x{class: 'plus-button'}
                %td.icon-minus
                  %i.fa.fa-minus-circle.fa-2x{class: 'minus-button'}
          .text
            = f.text_area :text, placeholder: 'なにたべた？'
          .icon
            .image-upload
              -# %label{class: "input-box__image"}
              = f.fields_for :image do |i| 
                %i.fa.fa-camera.fa-2x
                = i.label :image
                = i.file_field :image, multiple: true
            .btn-square
              = f.submit '投稿する', class: 'post-btn'
    .posts
      = render @posts
      = paginate(@posts)
    #page_top
      = link_to '', '#'