.main
  .new-post
    = form_with model: @post, id: 'new_post' do |f|
      .input-box
        %table
          %thead
            %tr
              %th 食べたもの
              %th カロリー
              %th P（タンパク質）
              %th F（脂質）
              %th C（炭水化物）
          %tbody
            %tr
              %td 
                = f.text_field :food, placeholder: '例）サラダチキン'
              %td 
                = f.number_field :calorie, placeholder: '例）200'
              %td 
                = f.number_field :protein, placeholder: '例）30'
              %td 
                = f.number_field :fat, placeholder: '例）20'
              %td 
                = f.number_field :carbo, placeholder: '例）50'              
        %table
          %thead
            %tr
              %th 今日のひとこと
          %tbody
            %tr
              %td 
                = f.text_area :text, placeholder: 'なにたべた？'
        %table
          %thead
            %tr
              %th 5枚までアップロードできます
          %tbody
            %tr
              %td 
                = icon('fas', 'image', class: 'icon')
                = f.file_field :image
        .submit-btn
          = f.submit '投稿する'
  -# = render @posts
  .postBox
    .postLists
      - @posts.each do |post|
        = link_to "/posts/#{post.id}", method: :get, class: "postList" do
          .posts
            .upper-post
              .upper-post__user-name
                = link_to user_path(post.user_id) do 
                  = post.user.name
                -# = render 'relationships/follow_button', user:@user
              .upper-post__date
                %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)+"前"
            .lower-post
              %table
                %thead
                  %tr
                    %th FOOD
                    %th Calorie
                %tbody
                  %tr
                    %td 
                      = post.food
                    %td 
                      = post.calorie
              %table
                %thead
                  %tr
                    %th P
                    %th F
                    %th C
                %tbody
                  %tr
                    %td 
                      = post.protein # なぜここが@post.proteinじゃダメなのかがまだわからない
                    %td 
                      = post.fat
                    %td 
                      = post.carbo
              %table
                %tbody
                  %tr
                    %td 
                      = post.text
              %table
                %tbody
                  %tr
                    %td 
                    - if post.image.present?
                      = image_tag post.image.url
                  = post.user.name
                  = post.text
          = paginate(@posts)
