.main
  -# %header.header.black-bg
  -#   %nav.navbar.navbar-expand-lg.navbar-light.bg-light
  -#     .collapse.navbar-collapse{ id: "navbarSupportedContent"}
  -#       %ul.navbar-nav.mr-auto
  -#       - if user_signed_in?
  -#         %li.nav-item
  -#           = link_to 'マイページ', user_path(current_user.id)
  -#         %li.nav-item 
  -#           = link_to 'ログアウト', destroy_user_session_path, method:  :delete
  -#       - else
  -#         %li.nav-item
  -#           %a.nav-link
  -#             = link_to '新規登録', new_user_registration_path
  -#         %li.nav-item  
  -#           %a.nav-link
  -#             = link_to 'ログイン', new_user_session_path
  .bg-slider
    -# %script
    -# :javascript
    -#   $(function($){
    -#     $('.bg-slider').bgSwitcher({
    -#       images:['Pumphose.muscles.png', 'allef-vinicius-do-0ghSDd2E-unsplash.jpg', 'sven-mieke-optBC2FxCfc.jpg'],
    -#       //effect: "drop",
    -#       //easing: "linear"
    -#       interval: 3000, // 背景画像を切り替える間隔を指定 3000=3秒
    -#       loop: true, // 切り替えを繰り返すか指定 true=繰り返す　false=繰り返さない
    -#       shuffle: true, // 背景画像の順番をシャッフルするか指定 true=する　false=しない
    -#       effect: "blind", // エフェクトの種類をfade,blind,clip,slide,drop,hideから指定
    -#       duration: 500, // エフェクトの時間を指定します。
    -#       easing: "swing" // エフェクトのイージングをlinear,swingから指定
    -#     });
    -#   });
    .new-post
      = form_with model: @post, id: 'new_post' do |f|
        = f.fields_for :images do |i|
          = i.file_field :image
        .input-box
          %table
            %thead
              %tr
                %th Food
                %th Calorie
                %th P タンパク質
                %th F 脂質
                %th C 炭水化物
            %tbody
              %tr
                %td 
                  = f.text_field :food, placeholder: '例）サラダチキン'
                %td 
                  = f.number_field :calorie, placeholder: '例）200'
                %td 
                  = f.number_field :protein, placeholder: '例）30'
                %td 
                  = f.number_field :fat, placeholder: '例）20'
                %td 
                  = f.number_field :carbo, placeholder: '例）50'              
          .text
            = f.text_area :text, placeholder: 'なにたべた？'
          .icon
            .image-upload
              -# %p 5枚までアップロードできます
              %label{class: "input-box__image"}
                = fa_icon 'file-image-o'
                = f.file_field :image
                -# %input{type: "file"}
            .btn-square
              = f.submit '投稿する', class: 'post-btn'
    .posts
      = render @posts
      = paginate(@posts)
