.contents.row
  .container
    = form_with model: @post do |f|
      食べたもの
      = f.text_field :food, placeholder: '例）サラダチキン'
      カロリー
      = f.number_field :calorie, placeholder: '例）200'
      タンパク質(P)
      = f.number_field :protein, placeholder: '例）30'
      脂質(F)
      = f.number_field :fat, placeholder: '例）20'
      炭水化物(C)
      = f.number_field :carbo, placeholder: '例）50'
      今日のつぶやき
      = f.text_area :text, placeholder: 'なにたべた？'
      = f.file_field :image
      = f.submit