.post
  .post-box
    .upper-post
      .upper-post__user-name
        = link_to user_path(post.user_id) do
          = post.user.name
        -# = render 'relationships/follow_button', user:@user
      .upper-post__date
        %time(datetime="#{post.created_at}")= time_ago_in_words(post.created_at)+"前"
    .lower-post
      %table
        %thead
          %tr
            %th FOOD
            %th Calorie
        %tbody
          %tr
            %td 
              = post.food
            %td 
              = post.calorie
      %table
        %thead
          %tr
            %th P
            %th F
            %th C
        %tbody
          %tr
            %td 
              = post.protein # なぜここが@post.proteinじゃダメなのかがまだわからない
            %td 
              = post.fat
            %td 
              = post.carbo
      %table
        %tbody
          %tr
            %td 
              = post.text
      - if post.images.present?
        = image_tag @post.images.image.url
      %ul.more_list
        %li
          = link_to '詳細', "/posts/#{post.id}", method: :get # ここのpathは/posts/#{post.id}でも/posts/#{@post.id}でもどっちでもいけちゃう
        %li
          = link_to '編集', "/posts/#{post.id}/edit", method: :get
        %li
          = link_to post_path(post.id), method: :delete do
            = fa_icon 'trash'
        %li
          = link_to "https://twitter.com/" do
            = fa_icon 'twitter'
        %li
          = link_to "#" do
            = fa_icon 'heart-o'
        %li
          = link_to "#" do
            = fa_icon 'comment-o'