%div.container
  <!-- Panel部分-->
  %div.panel.panel-info
    %div.panel-heading
      カロリー&PFC記録
    %div.panel-body
      食べたもの
      = post.food
      カロリー
      %br
      = post.calorie
      タンパク質(P)
      %br
      = post.protein
      脂質(F)
      %br
      = post.fat
      炭水化物(C)
      %br
      = post.carbo
      日記
      %br
      = post.text
      %a.btn.btn-success(href="https://wwww.google.com")Boostrapのボタン