.side-bar
  .section
    .user-box
      = image_tag 'https://www.pakutaso.com/shared/img/thumb/ookawara-menIMGL1911_TP_V.jpg', height: '100', width: '100'
      .username
        ユーザー：
        - if user_signed_in?
          = current_user.name
      .follow
        フォロー：
        - if user_signed_in?
          = current_user.followings.count
      .follower
        フォロワー：
        - if user_signed_in?
          = current_user.followers.count
    .chart
      - if user_signed_in?
        = link_to charts_path(current_user.id) do
          = fa_icon 'bar-chart'
        %a グラフ
    .table
      = link_to "#" do
        = fa_icon 'table'
      %a 今月の記録