.sidebar
  %ul.sidebar-menu
    .user-box
      - if user_signed_in?
        = link_to image_tag('/profile-image1.png', height: '100', width: '100', class: 'user-img'), user_path(current_user.id)
      .username
        - if user_signed_in?
          = link_to current_user.name, user_path(current_user.id), class: 'user-link'
    %li.chart
      - if user_signed_in?
        = link_to charts_path(current_user.id), class: 'charts-path' do
          = fa_icon 'bar-chart'
          %span.graph グラフ
    %li.record
      = link_to "#", class: 'record-path' do
        = fa_icon 'calendar'
        %span.record-text カレンダー
    %li.record
      = link_to "#", class: 'record-path' do
        = fa_icon 'image'
        %span.record-text 画像一覧
  .bg-slider