.sidebar
  %ul.sidebar-menu
    .user-box
      - if user_signed_in?
        = link_to image_tag('/profile-image1.png', height: '100', width: '100', class: 'user-img'), user_path(current_user.id)
      .username
        - if user_signed_in?
          = link_to current_user.name, user_path(current_user.id), class: 'user-link'
      .users-stats
        - if user_signed_in?
          = render 'users/stats'
    %li.chart
      - if user_signed_in?
        = link_to charts_path(current_user.id), class: 'charts-path' do
          = fa_icon 'bar-chart'
          %span.graph グラフ
    - if user_signed_in?
      %li.record
        = link_to calendars_path(current_user.id), class: 'record-path' do
          = fa_icon 'calendar'
          %span.record-text カレンダー
    - if user_signed_in?
      %li.image-index
        = link_to posts_image_path(current_user.id), class: 'record-path' do
          = fa_icon 'image'
          %span.record-text 画像一覧
  .bg-slider