.sidebar
  %ul.sidebar-menu
    .user-box
      = link_to image_tag('https://www.pakutaso.com/shared/img/thumb/ookawara-menIMGL1911_TP_V.jpg', height: '100', width: '100', class: 'user-img'), user_path(current_user.id)
      .username
        - if user_signed_in?
          = link_to current_user.name, user_path(current_user.id)
    %li.chart
      - if user_signed_in?
        = link_to charts_path(current_user.id), class: 'charts-path' do
          = fa_icon 'bar-chart'
          %span.graph グラフ
    %li.table
      = link_to "#", class: 'table-path' do
        = fa_icon 'table'
        %span.table 今月の記録