.section-edit
  .new-post.col-sm-9
    = form_with model: @post do |f|
      .input-box
        %table.col-sm-12
          %thead
            %tr
              %th.food 食べたもの
              %th.calorie カロリー
          %tbody.table-body.table-line
            %tr
              %td 
                = f.text_field :food
              %td 
                = f.number_field :calorie, step: '0.1'
        .text.col-sm-12
          = f.text_area :text, class: 'post-textarea'
        .icon
          .image-upload
            = f.file_field :image, class: 'image_upload'
        .weight-and-btn
          .weight
            体重
            = f.number_field :weight, step: '0.1'
            kg
          .btn-square
            = f.submit '投稿する', class: 'post-btn'