.post
  %table
    %thead
      %tr
        %th FOOD
        %th Calorie
    %tbody
      %tr
        %td 
          = @post.food
        %td 
          = @post.calorie
  %table
    %thead
      %tr
        %th P
        %th F
        %th C
    %tbody
      %tr
        %td 
          = @post.protein
        %td 
          = @post.fat
        %td 
          = @post.carbo
  %table
    %tbody
      %tr
        %td 
          = @post.text
  %table
    %tbody
      %tr
        %td 
          = image_tag @post.image.url, class: "image"

%ul.more_list
  %li
    = link_to '編集', edit_post_path(@post.id)
  %li
    = link_to '削除', "/posts/#{@post.id}", method: :delete