%body
  .content
    .post.col-sm-9
      .post-box
        %table.col-sm-12
          %thead
            %tr
              %th.food Food
              %th.calorie Calorie
              %th.protein P タンパク質
              %th.fat F 脂質
              %th.carbo C 炭水化物
          %tbody.table-body.table-line
            %tr
              %td
                = @post.food
              %td
                = @post.calorie
              %td
                - if @post.protein.present?
                  = @post.protein
              %td
                - if @post.fat.present?
                  = @post.fat
              %td
                - if @post.carbo.present?
                  = @post.carbo
        %table.table-body.table-line
        .text.col-sm-11
          - if @post.text.present?
            = @post.text
        .icon
          .image-upload
            - if @post.image.present?
              = image_tag @post.image.url
        .weight
          - if @post.weight.present?
            体重：
            = @post.weight 
            kg
      .comment.col-sm-12
        - if user_signed_in?
          = form_with model: [@post, @comment], local: true, id: 'new_comment' do |f|
            = f.text_area :comment, placeholder: "コメントする", rows: "2"
            = f.submit "SEND", class: "commentBtn", id: "commentBtn"
      .commentList
        .commentlist 
          [コメント一覧]
        - if @comments
          .comments
            - @comments.each do |comment|
              .comment
                %time(datetime="#{comment.created_at}")= time_ago_in_words(comment.created_at)+"前"
                .commentUser
                  = comment.user.name
                .commentContent
                  = comment.comment
      %ul.comment-fa
        - if user_signed_in? && current_user.id == @post.user_id
          %li
            = link_to "/posts/#{@post.id}/edit", method: :get, class: 'comment-edit' do
              %i.fa.fa-edit
              %span.edit 編集
          %li
            = link_to post_path(@post.id), method: :delete, class: 'comment-trash' do
              %i.fa.fa-trash
              %span.trash 削除
          .likes_buttons{id: "likes_buttons_#{@post.id}"}
            = render partial: "likes/like", locals: {post: @post}
    .home
      = link_to "ホームへ戻る", root_path, class: 'comment-home'